.clear {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #1da1f2;
  border-radius: 8px;
  padding: 10px 20px;
  color: #1da1f2;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 1;
  cursor: pointer;
}

.wrapper {
  position: relative;
}
